<br />
<div class="container">
  <div class="row">
    
    <div class="col-lg-12 centralizar topo">
      <div class="card">
        <div class="card-body">
            <mdb-form-control>
                <input mdbInput type="text" id="nome" class="form-control" [(ngModel)]="produto.nome"/>
                <label mdbLabel class="form-label" for="nome">Nome</label>
            </mdb-form-control>
        <br />
            <mdb-form-control>
                <input mdbInput type="text" id="descricao" class="form-control" [(ngModel)]="produto.descricao"/>
                <label mdbLabel class="form-label" for="descricao">Descrição</label>
            </mdb-form-control>
        <br />
            <mdb-form-control>
                <input mdbInput type="text" id="categoria" class="form-control" [(ngModel)]="produto.categoria"/>
                <label mdbLabel class="form-label" for="categoria">Categoria</label>
            </mdb-form-control>
        <br />
            <mdb-form-control>
                <input mdbInput type="number" id="precoUnitario" class="form-control" [(ngModel)]="produto.precoUnitario"/>
                <label mdbLabel class="form-label" for="precoUnitario">Preço Unitário</label>
            </mdb-form-control>
        <br />
            <mdb-form-control>
                <input mdbInput type="number" id="estoque" class="form-control" [(ngModel)]="produto.estoque"/>
                <label mdbLabel class="form-label" for="estoque">Estoque</label>
            </mdb-form-control>
        <br />
            <mdb-form-control>
                <input mdbInput type="text" id="sku" class="form-control" [(ngModel)]="produto.sku"/>
                <label mdbLabel class="form-label" for="sku">SKU</label>
            </mdb-form-control>
        <br />
            <mdb-form-control>
                <input mdbInput type="text" id="dataCadastro" class="form-control" [(ngModel)]="produto.dataCadastro"/>
                <label mdbLabel class="form-label" for="dataCadastro">Data de Cadastro</label>
            </mdb-form-control>        
        <br />
          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="salvar()">
            Salvar 
        </button>
        </div>
      </div>
    </div>
    
  </div>
</div>
