<br>
<div class="container">
  <div class="row">
    
    <div class="col-lg-12 centralizar topo">
      <div class="card">
        <div class="card-body">
            <mdb-form-control>
                <input mdbInput type="text" id="nome" name="nome" class="form-control" [(ngModel)]="categoria.nome"/>
                <label mdbLabel class="form-label" for="nome">Nome</label>
            </mdb-form-control>
        <br />
            <mdb-form-control>
                <input mdbInput type="text" id="descricao" name="descricao" class="form-control" [(ngModel)]="categoria.descricao"/>
                <label mdbLabel class="form-label" for="descricao">Descrição</label>
            </mdb-form-control>
        <br />
          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="salvar()">
            Salvar 
        </button>
        </div>
      </div>
    </div>
    
  </div>







</div>
