.centralizar{
    text-align: center;
    text-align:inherit;
  
   
}

.direita {
  text-align: right;
 
 
}





body{
    background-color: rgb(247, 247, 247);
    
}@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
